@model Web_Shop_Zay.Models.Khach_Hang
@{
    ViewBag.Title = "EditThongTin";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var dshoadon = new Web_Shop_Zay.Models.mapHoaDon().HoaDon();
    var dsidhoadon = Session["idkhachhang"];
    var item = dshoadon.Where(m => m.IDKhachHang == (int)dsidhoadon);
    //
    var dsct = new Web_Shop_Zay.Models.mapChiTietHD().ChiTietHD();
    var query =
        from  hd in item
        join ct in dsct on hd.MaHD equals ct.MaHD
        select new
    {
        hd.IDKhachHang,
        hd.NgayMua,
        ct.MaSP,
        ct.SoLuong,
        ct.TongTien,
        ct.MaHD
    };
}

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-md-4">
            <form action="EditThongTin" method="post" controller=>
                <div class="profile-links shadow" id="pro_light">
                    @Html.HiddenFor(Model => Model.IDKhachHang)
                    @Html.HiddenFor(Model => Model.MatKhau)
                    @Html.HiddenFor(Model => Model.ReMatKhau)
                    @Html.HiddenFor(Model => Model.HoTenKH)
                    @Html.HiddenFor(Model => Model.DiaChi)
                    @Html.HiddenFor(Model => Model.Email)
                    @Html.HiddenFor(Model => Model.DienThoai)
                    <li>
                        <input type="file" style="width: 90px;" class="form-control mt-1" id="pic" name="anh" placeholder="ảnh" onchange="xemtruoc(this)">
                    </li>
                    <img src="~/Asset/img/KhachHang/@Model.Anh" alt="ảnh xem trước" id="preview" style="width: 195px; height: auto; border-radius: 100%; }">
                    <button type="submit" class="btn btn-success">Thay đổi ảnh</button>
                </div>
            </form>
        </div>

        <div class="col-md-8">
            <div class="mt-custum ">

                <div class="row">
                    <div class="details form-group col-md-6">
                        <div class="row">
                            <div class="">
                                <label for=""><strong style="font-weight: bold;"> Họ tên</strong></label>
                            </div>
                            <div class=" rounded-4 shadow p-3" id="pro_light">
                                @Model.HoTenKH
                            </div>
                        </div>
                    </div>

                    <div class="details form-group col-md-6">
                        <div class="row">
                            <div class="">
                                <label for=""><strong style="font-weight: bold;"> Email</strong></label>
                            </div>
                            <div class="  rounded-4 shadow p-3" id="pro_light">
                                @Model.Email
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="details form-group col-md-6" style="margin-top:30px">
                        <div class="row">
                            <div class="">
                                <label for=""><strong style="font-weight: bold;"> Số điện thoại</strong></label>
                            </div>
                            <div class=" rounded-4 shadow p-3" id="pro_light">
                                @Model.DienThoai
                            </div>
                        </div>
                    </div>

                    <div class="details form-group col-md-6" style="margin-top:30px">
                        <div class="row">
                            <div class="">
                                <label for=""><strong style="font-weight: bold;"> Địa chỉ</strong></label>
                            </div>
                            <div class="  rounded-4 shadow p-3" id="pro_light">
                                @Model.DiaChi
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="details form-group col-md-6" style="margin-top:30px">
                        <div class="row">
                            <div class="">
                                <label for=""><strong style="font-weight: bold;"> Giới tính</strong></label>
                            </div>

                            <div class="btn-group  rounded-4 shadow p-3" id="pro_light" role="group" aria-label="Basic checkbox toggle button group ">
                                <input type="radio" class="btn-check" name="btnradio" id="btncheck1" autocomplete="off">
                                <label class="btn btn-outline-primary me-3 rounded-3" for="btncheck1">Nam</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btncheck2" autocomplete="off">
                                <label class="btn btn-outline-danger me-3 rounded-3" for="btncheck2">nữ</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-secondary rounded-3" for="btncheck3">khác</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="" class="btn btn-secondary mt-3 ms-4 w-50" data-bs-toggle="modal" data-bs-target="#sua_tk" data-bs-whatever=""><i class="fa fa-fw fa-edit mr-1" id=""></i> Chỉnh sửa</a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <!-- sua thong tin -->
    <div class="modal fade" id="sua_tk" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-4">
                <div class="modal-header bg-secondary ">
                    <h1 class="modal-title fs-5 text-light" id="">Chỉnh sửa thông tin</h1>
                    <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="EditThongTin" method="post">
                        @Html.HiddenFor(Model => Model.IDKhachHang)
                        @Html.HiddenFor(Model => Model.MatKhau)
                        @Html.HiddenFor(Model => Model.ReMatKhau)

                        <div class="mb-3">
                            <label for="name" class="col-form-label fw-bold">Họ tên</label>
                            <input type="text" class="form-control" value="@Model.HoTenKH" id="name" name="HoTenKH" placeholder="Tên của bạn">
                        </div>
                        <div class="mb-3">
                            <!-- <label for="email" class="col-form-label">Email</label> -->
                            <label class="col-form-label fw-bold" for="email">Email</label>
                            <input class="form-control" type="email" id="email" value="@Model.Email" name="Email" placeholder="Email của bạn" required="">
                        </div>

                        <div class="mb-3">
                            <label for="sdt" class="col-form-label fw-bold">Số điện thoại</label>
                            <input type="text" class="form-control" id="sdt" name="DienThoai" value="@Model.DienThoai" placeholder="Số điện thoại của bạn">
                        </div>
                        <div class="mb-3">
                            <label for="andress" class="col-form-label fw-bold">Địa chỉ</label>
                            <input type="text" class="form-control" id="andress" value="@Model.DiaChi" name="DiaChi" placeholder="Số nhà,Quân/Huyện,Phường/Xã">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-success">Áp dụng</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Đơn mua -->
    <div class="modal fade" id="don_mua" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content rounded-4 bg-light">
                <div class="modal-header bg-secondary ">
                    <h1 class="modal-title fs-5 text-white" id=""><i class="fa-solid fa-file-lines me-3"></i> Đơn hàng của tôi</h1>
                    <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="row">
                            @foreach (var i in query)
                            {
                                <div class="donmua row rounded-4 shadow text-dark bg-white mt-4">
                                    <label for="" class="col-6 fw-bold mt-3">
                                        <label class="text-secondary text-opacity-25 me-2">Ngày đặt:</label> <tr>@i.NgayMua</tr>
                                        <label class="text-secondary text-opacity-25 me-2">Đơn hàng:</label> <tr>@i.MaHD</tr>

                                        @*@{
                                                    foreach (var u in dsct)
                                                    {
                                                        if (i.MaHD == u.MaHD)
                                                        {

                                                            <img src="assets/img/products/@" class="w-50 h-50">
                                                        }
                                                    }
                                                }
                                            }*@

                                    </label>

                                    <label for="" class="col-6 fs-6 fw-bold mt-3">
                                        <label for="" class="text-secondary text-opacity-25 fs-6"> Trạng thái:</label> <tr> Giao thành công</tr>
                                        <p style="float: right;">
                                            @i.TongTien
                                        </p>
                                        <br>


                                        <button class="btn btn-success w-100">Mua lại đơn</button>
                                        <p><a href="~/ChiTiet/Index?id=@i.MaSP" class="mt-3 text-success mb-3" style="float: right;">Xem chi tiết <i class="fa-solid fa-chevron-right"></i></a></p>
                                    </label>

                                </div>

                            }
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger w-25" data-bs-dismiss="modal">Đóng</button>

                </div>
            </div>
        </div>
    </div>
    <!-- end đơn mua -->
    <!-- Doi mk -->
    <div class="modal fade" id="doi_mk" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content rounded-4 bg-light">
                <div class="modal-header bg-secondary ">
                    <h1 class="modal-title fs-5 text-white" id=""><i class="fa-solid fa-file-lines me-3"></i> Đổi mật khẩu</h1>
                    <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="EditThongTin" method="post">
                        @Html.HiddenFor(Model => Model.IDKhachHang)
                        @Html.HiddenFor(Model => Model.HoTenKH)
                        @Html.HiddenFor(Model => Model.DiaChi)
                        @Html.HiddenFor(Model => Model.Email)
                        @Html.HiddenFor(Model => Model.DienThoai)

                        <div class="mb-3">
                            <label>@TempData["check_mk"]</label>
                            <input type="password" class="form-control" id="andress" name="MatKhau" placeholder="Mật khẩu mới">
                        </div>
                        <div class="mb-3">
                            <label>@TempData["check_mk"]</label>
                            <input type="password" class="form-control" id="andress" name="ReMatKhau" placeholder="Nhập lại mật khẩu">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-success">Áp dụng</button>
                        </div>
                    </form>
              
                </div>
                
            </div>
        </div>
    </div>
    <!-- end doi mk -->


    <div class="row">
        <div class="mt-0 mb-5 mt-5 col-12">
            <a href="" class="btn btn-danger ms-5 col-2 mt-3" data-bs-toggle="modal" data-bs-target="#doi_mk"
               data-bs-whatever=""><i class="fa fa-fw mr-1"></i> Đổi mật khẩu</a>
            <a href="" class="btn btn-primary ms-5 col-2 mt-3" data-bs-toggle="modal" data-bs-target="#don_mua"
               data-bs-whatever=""><i class="fa fa-fw fa-cart-arrow-down mr-1"></i> Đơn mua</a>
            <a class="btn btn-dark ms-5 position-relative text-decoration-none col-2 mt-3" href="">
                <i class="fa fa-fw fa-smile mr-3" id=""></i> Thông báo
                <span class="position-absolute top-10 left-100 translate-middle badge rounded-pill bg-danger text-light" id="user_span_nav">+99</span>
            </a>
            <a href="" class="btn btn-warning ms-5 col-2 mt-3 "><i class="fa fa-fw fa-bank " id=""></i> Ngân hàng</a>


        </div>

    </div>

</div>
@*<div class="container" style="width:600px;margin-top:20px">
        @if (Session["idkhachhang"] != null)
    {
    <div class="container">
        <h1 class="text-center">Xin chào</h1>
        <p class="text-center">Cập nhật thông tin của bạn</p>
        <form class="pt-3" action="EditThongTin" method="post">
            @Html.HiddenFor(Model => Model.IDKhachHang)
            <div class="form-group">
                <h5>Mời bạn nhập họ tên.</h5>
                <div class="col-md-10">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HoTenKH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HoTenKH, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h5>Mời bạn nhập địa chỉ.</h5>
                <div class="col-md-10">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h5>Mời bạn nhập số điện thoại.</h5>
                <div class="col-md-10">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h5>Mời bạn nhập giới tính.</h5>
                <div class="col-md-10">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-lg btn-success btn-block">Cập nhật thông tin</button>
                <a href="" class="btn btn-lg btn-success btn-block">Chi tiết đơn hàng</a>
            </div>
        </form>
    </div>
    }
        </div>
*@