
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Web_Shop_Zay.Models.Khach_Hang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAmin.cshtml";
}


<div class="main-content">
    <div class="row ">
        <div class="col-lg-7 col-md-12">
            <div class="card" style="min-height: 485px">
                <div class="card-header card-header-text">
                    <h4 class="card-title">Thông tin khách hàng<h4>
                    <a href="~/Admin/KhachHang/AddKhachhang" class="btn btn-primary mt-3">Thêm</a>
                    <!-- <p class="category">New employees on 15th December, 2016</p> -->
                </div>

                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary">
                            <tr>
                                <th>Mã khách hàng</th>
                                <th>Họ tên</th>
                                <th>Địa chỉ</th>
                                <th>Email</th>
                                <th>Điện thoại</th>
                                <th>Giới tính</th>
                                <th>Mật khẩu</th>
                                <th>Mật khẩu nhập lại</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.IDKhachHang</td>
                                    <td>@item.HoTenKH</td>
                                    <td>@item.DiaChi</td>
                                    <td>@item.Email</td>
                                    <td>@item.DienThoai</td>
                                    <td>@item.GioiTinh</td>
                                    <td>@item.MatKhau</td>
                                    <td>@item.ReMatKhau</td>
                                    <td>
                                        <a href="~/Admin/KhachHang/EditKhachHang?id=@item.IDKhachHang" class="btn btn-primary mt-3"><i class="material-icons">edit</i> Sửa</a>
                                        <a href="~/Admin/KhachHang/DeleteKhachHang?id=@item.IDKhachHang" class="btn btn-danger mt-3"><i class="material-icons ">delete_outline</i> Xóa</a>
                                   
                                    </td>
                                </tr>
                            }
                            <!-- Kết thúc -->
                            @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page }))
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
