@using PagedList;
@using PagedList.Mvc
@model IPagedList<Web_Shop_Zay.Models.San_Pham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var loai = new Web_Shop_Zay.Models.mapLoaiSP().LoaiSP();
}
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h2 pb-4">Menu</h1>
            <ul class="list-unstyled templatemo-accordion">
                @foreach (var item in loai)
                {
                    var ds = new Web_Shop_Zay.Models.mapPhanLoaiSP().phanLoaiSpID(item.MaLoai);
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none">
                            @item.TenLoai
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            @foreach (var i in ds)
                            {
                                <li><a class="text-decoration-none" style="color:black" href="~/Shop/SanPhamID?id=@i.MaPL"> @i.TenPL</a></li>

                            }

                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-md-2">
                <ul class="list-inline shop-top-menu pb-3 pt-1">
                    <li class="list-inline-item">
                        <a class="h3 text-dark text-decoration-none mr-3" href="~/Shop/Index">All</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 pb-4">
                <div class="d-flex">
                    <select class="form-control">
                        <option>Featured</option>
                        <option>A to Z</option>
                        <option>Item</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
               <div class="cardhover shoes col-sm-6 col-md-6 col-lg-4 mb-4  me-4 ms-4  shadow p-3 mb-5 bg-body-tertiary rounded-4" style="width: 300px;">
                   <div class="card" id="card_black" style="width: auto;">
                       <img src="~/Asset/img/SanPham/@item.Hinh" alt="" style="width: 100%;">
                       <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                           <ul class="list-unstyled">
                               <li><a class="btn btn-success text-white" href="~/ChiTiet/Index?id=@item.MaSP"><i class="far fa-eye"></i></a></li>
                               <li><a class="btn btn-success text-white mt-2" href="~/Cart/AddSp?id=@item.MaSP"><i class="fas fa-cart-plus"></i></a></li>
                           </ul>
                       </div>
                   </div>
                   <div class="card-body">
                       <ul class="list-unstyled d-flex justify-content-between">
                           <li>
                               <i class="text-warning fa fa-star"></i>
                               <i class="text-warning fa fa-star"></i>
                               <i class="text-warning fa fa-star"></i>
                               <i class="text-warning fa fa-star"></i>
                               <i class="text-muted fa fa-star"></i>
                           </li>
                           <li class="text-black-100 text-right">@String.Format("{0:c}", item.Gia)</li>
                       </ul>
                       <h3>@item.TenSP</h3>
                       <p class="card-text">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, porro!
                       </p>
                       <p class="text-muted">Đánh Giá (16)</p>

                       <div class="buy">
                           <a href="shop-single.html" class="btn btn-success w-100 text-white">Mua ngay</a>
                       </div>
                   </div>
               </div>
            }
            <br />
            <div style="margin-right:50px">
                @Html.PagedListPager(Model, page => Url.Action("Index",
                new { page }))
            </div>
        </div>
    </div>
 </div>
<!-- End Content -->
